In [3]:
import pandas as pd


dic = {
    
    'a':[1,2,3,4],
    'b':[5,6,7,8]
}

var = pd.DataFrame(dic)
var

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [4]:
var['c'] = var['a']  + var['b']
var

   a  b   c
0  1  5   6
1  2  6   8
2  3  7  10
3  4  8  12

In [5]:
var['less_than_3'] = var['a'] < 3

In [6]:
var

   a  b   c  less_than_3
0  1  5   6         True
1  2  6   8         True
2  3  7  10        False
3  4  8  12        False