In [4]:
import pandas as pd

dict = {
    'a':[1,2,3,4],
    'b':[5,6,7,8]
}

var = pd.DataFrame(dict)
var

   a  b
0  1  5
1  2  6
2  3  7
3  4  8

In [5]:
var.insert(0,'python',var['b'])   #(index,column_name,data)
var

   python  a  b
0       5  1  5
1       6  2  6
2       7  3  7
3       8  4  8

In [6]:
#Delete

In [7]:
var1 = var.pop('b')

In [8]:
var1

0    5
1    6
2    7
3    8
Name: b, dtype: int64

In [11]:
del var['a']

In [12]:
var

   python
0       5
1       6
2       7
3       8